<div class="navbar navbar-fixed-top">
<div class="navbar-inner">
<div class="container">
<!--<image float="right" src="&lt;site-url/&gt;/stog-logo.svg" width="30"/>-->
  <div class="nav-collapse">
  <ul class="nav">
    <li class="&lt;navbar-home/&gt;"><page href="/index" quotes="false"/></li>
    <li class="&lt;navbar-author/&gt;"><page href="authors/index" quotes="false"/></li>
    <li class="&lt;navbar-contrib/&gt;"><page href="contribs/index" quotes="false"/></li>
<!--    <li class="&lt;navbar-about/&gt;"><page href="about">?</page></li>-->
  </ul>
  </div>
</div>
</div>
</div>
